body{
    padding-top: 50px;
}
.container-center{
    text-align: center;
    width: 70%;
    float: none;

}
.img-thumnail{
    border: none;
}

.navbar-toggle.navbar-left{
    float: left;
    margin-left: 10px;
}

.navbar-form{
    border: 0px;
}

.glyphicon.glyphicon-search{
    color: #ffffff;
}
.navbar-fixed-top{
    margin: 0px;
}