body{
    padding-top: 60px;
    padding-bottom: 60px;
}
.container-center{
    text-align: center;
    width: 70%;
    float: none;
}
a:hover{
    text-decoration: none;
}
.col-navbar-bottom{
    height: 18px;
}

@media screen and (max-width: 470px){
    a span{
        font-size: 3vw;
    }
    .joiner{
        font-size: 2vw;
    }
}
@media screen and (min-width:1280px){
    a span{
        font-size:18px;
    }
    .joiner{
        font-size:15px;
    }
}
a{
    color: #525252;
}
.joiner{
    color: gray;
}

.glyphicon-play{
    font-size: 50px;
}
.glyphicon-pause{
    font-size: 30px;
    vertical-align:middle;
}
.glyphicon-plus{
    font-size: 50px;
}

.img-thumbnail{
    border: none;
}

.navbar-toggle.navbar-left{
    float: left;
    margin-left: 10px;
}

.navbar-form{
    border: 0px;
}

.glyphicon.glyphicon-search{
    color: #ffffff;
}
.navbar-fixed-top{
    margin: 0px;
}
