body{
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-center{
    text-align: center;
    width: 70%;
    float: none;
}
a:hover{
    text-decoration: none;
}
a{
    font-size: 18px;
    color: gray;
}


.img-thumbnail{
    border: none;
}

.navbar-toggle.navbar-left{
    float: left;
    margin-left: 10px;
}

.navbar-form{
    border: 0px;
}

.glyphicon.glyphicon-search{
    color: #ffffff;
}
.navbar-fixed-top{
    margin: 0px;
}