{% extends 'audio/base.html' %}

{% block content %}

    <div class="audio">
        <h1>{{audio.title}}</h1>
        <h3>{{audio.speaker}}</h3>
        <div class="text">
            {{audio.text}}
        </div>
        <div class="sound">
            <audio id="audiobook" controlslist="nodownload" style="visibility: hidden;" ontimeupdate="updateRunningtime()">
                <source src="/static/audiosrc/{{audio.audiosrc}}.mp3" type="audio/mp3" data-track-number="1">
            </audio>
        </div>
        <div class="col-md-offset-4 col-md-4">
            
            <p id="runningTime">3분 미리듣기</p>
        </div>
    </div>

{% endblock %}