{% extends 'audio/base.html' %}
{% block content %}
{% comment %}
<!-- {% for audio in audios %}
{% if forloop.counter|modulo:4 == 1 %}
<div class="col-md-2 col-md-offset-1 col-xs-6">
    <div class="audio">
        <a href="{% url 'audio_detail' pk=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg"
                alt=""></a>
        <p>
            <br>
        </p>
    </div>
</div>
{% elif forloop.counter|modulo:4 == 0 %}
<div class="col-md-2 col-md-offset-1-5">
    <div class="audio">
        <a href="{% url 'audio_detail' pk=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg"
                alt=""></a>
        <p>
            <br>
        </p>
    </div>
</div>
<div class="col-md-offset-1"></div>
{% else %}
<div class="col-md-2 col-md-offset-1-5 col-xs-6">
    <div class="audio">
        <a href="{% url 'audio_detail' pk=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg"
                alt=""></a>
        <p>
            <br>
        </p>
    </div>
</div>
{% endif %}
{% endfor %} -->
{% endcomment %}
{% comment %}
{% for audio in audios %}
<!-- <div class="col-md-3 col-xs-6">
    <div class="audio" style="text-align:center;">
        <a href="{% url 'details' i=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg" alt="">
        <p class="align-left-padding-5">
            {{ audio.speaker }}{{audio.title_speaker_join}} {{ audio.title_author }}의 {{ audio.title}}
        </p>
      </a>
    </div>
</div> -->
{% endfor %}
{% endcomment %}

{% for audio in audios %}
    {% if forloop.first %}<div class="row row-eq-height">{% endif %}
            <div class="col-md-3 col-xs-6">
                    <div class="audio" style="text-align:center;">
                        <a href="{% url 'details' i=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg" alt="">
                        <p class="align-left-padding-5">
                            {{ audio.speaker }}{{audio.title_speaker_join}} {{ audio.title_author }}의 {{ audio.title}}
                            <br><br><br>
                        </p>
                      </a>
                    </div>
                </div>
    {% if forloop.counter|divisibleby:4 %}</div><div class="row row-eq-height">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}


