{% extends 'audio/base.html' %}

{% block content %}

<div class="container container-detail">
    <h1>{{ details.detail_title }}</h1>
    <h3>{{ details.detail_speaker }} 낭독</h3>
    <div class="text">
        <h4>{{ details.detail_pubdate }} 발표</h4>
        <h5>재생시간 : {{ details.detail_playtime }}</h5>
        <br>
        <p>
        {{ details.detail_title_text }}
    </p>
        <br>
        <p>
        {{ details.detail_author_text }}
    </p>
        
    <br>
    <p>
        {{ details.detail_speaker_text }}
    </p>
        <br><br>
    </div>
    
    <div id="audiobook" class="col-md-2 col-xs-2 col-centered" data-source="/static/audiosrc/{{ details.detail_audiosrc }}.mp3"
        data-name="{{ details.detail_title }}">
        <i class="glyphicon glyphicon-play" data-toggle= "tooltip" title = "3분 들어보기" onclick="playAudio()"></i>
        
    
</div>
</div>

{% endblock %}