{% extends 'audio/base.html' %}
{% block content %}
{% comment %}
<!-- {% for audio in audios %}
{% if forloop.counter|modulo:4 == 1 %}
<div class="col-md-2 col-md-offset-1 col-xs-6">
    <div class="audio">
        <a href="{% url 'audio_detail' pk=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg"
                alt=""></a>
        <p>
            <br>
        </p>
    </div>
</div>
{% elif forloop.counter|modulo:4 == 0 %}
<div class="col-md-2 col-md-offset-1-5">
    <div class="audio">
        <a href="{% url 'audio_detail' pk=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg"
                alt=""></a>
        <p>
            <br>
        </p>
    </div>
</div>
<div class="col-md-offset-1"></div>
{% else %}
<div class="col-md-2 col-md-offset-1-5 col-xs-6">
    <div class="audio">
        <a href="{% url 'audio_detail' pk=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg"
                alt=""></a>
        <p>
            <br>
        </p>
    </div>
</div>
{% endif %}
{% endfor %} -->
{% endcomment %}
{% for audio in audios %}
<div class="col-md-3 col-xs-6">
    <div class="audio" style="text-align:center;">
        <a href="{% url 'details' i=audio.pk %}"><img class="img-thumbnail" src="/static/img/{{audio.imgsrc}}.jpg" alt="">
        <p class="align-left-padding-5">
            <span>{{ audio.speaker }}</span><span class="joiner">{{audio.title_speaker_join}}</span> 
            <br>
            <span class="joiner">{{ audio.title_author }}의</span><span>&nbsp;{{ audio.title}}</span>
            <br><br>
        </p>
      </a>
    </div>
</div>
{% endfor %}
{% endblock %}


